In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv("files/jamesbond.csv")

In [3]:
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

#### set_index and reset_index

In [4]:
bond.set_index("Film", inplace=True)

In [5]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
bond.reset_index(inplace=True)

# drop remove the current index that is film for now
bond.reset_index(inplace=True, drop=True)

In [7]:
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
bond.set_index("Film", inplace=True)

In [9]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [10]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [11]:
# It will remove perivous index(Film) and Set new index Year
bond.set_index("Year")

# to prevent removing Film column from the dataframe
bond.reset_index(inplace=True) # set to default
bond.set_index("Year", inplace=True)

bond.head()

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

#### Retrieve Rows by Index Label with loc Accessor

In [13]:
#reset again film column
bond.reset_index(inplace=True)
bond.set_index("Film", inplace=True)

In [14]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [18]:
# Get a row for Goldfinger Film
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [20]:
type(bond.loc['Goldfinger'])

pandas.core.series.Series

In [22]:
bond.loc['Casino Royale']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [23]:
type(bond.loc['Casino Royale'])

pandas.core.frame.DataFrame

In [26]:
# any of list syntax will work for .loc

bond.loc['From Russia with Love':'You Only Live Twice']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [27]:
# by steps
bond.loc['From Russia with Love':'You Only Live Twice':2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [29]:
bond.loc[['From Russia with Love','You Only Live Twice']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [31]:
bond.loc[['You Only Live Twice','From Russia with Love']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

#### Retrieve Rows by Index Position with iloc Accessor

In [33]:
bond.reset_index(inplace=True)

In [35]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [36]:
bond.iloc[0]

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object

In [38]:
bond.iloc[[0, 1,2]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [39]:
bond.iloc[0:5]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [40]:
bond.iloc[15:]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [41]:
bond.iloc[10::2]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [42]:
#iloc will work after set a custom index as well

bond.set_index("Film", inplace=True)

In [43]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [44]:
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [45]:
bond.iloc[2]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [47]:
# It will throw error, becuase 100 not exists

bond.iloc[2, 4, 10, 100]

IndexingError: Too many indexers

#### Passing second arguments to the loc and iloc Accessors (Use Columns)

In [60]:
bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [50]:
bond.loc['Goldfinger', 'Actor']

'Sean Connery'

In [54]:
bond.loc['Thunderball', ['Director', 'Box Office']]

Director      Terence Young
Box Office            848.1
Name: Thunderball, dtype: object

In [56]:
# 2 rows 2 columns
bond.loc[['Goldfinger','Thunderball'], ['Director', 'Box Office']]

                  Director  Box Office
Film
Goldfinger    Guy Hamilton       820.4
Thunderball  Terence Young       848.1

In [57]:
#Casino Royale exists 2 times
bond.loc['Casino Royale', 'Actor']

Film
Casino Royale     David Niven
Casino Royale    Daniel Craig
Name: Actor, dtype: object

In [59]:
#range in columns

bond.loc['Thunderball', 'Director':'Budget']

Director      Terence Young
Box Office            848.1
Budget                 41.9
Name: Thunderball, dtype: object

In [65]:
#range in rows and columns

bond.loc['Goldfinger':'Live and Let Die', 'Director':'Budget']

                                      Director  Box Office  Budget
Film
Goldfinger                        Guy Hamilton       820.4    18.6
Thunderball                      Terence Young       848.1    41.9
Casino Royale                       Ken Hughes       315.0    85.0
You Only Live Twice              Lewis Gilbert       514.2    59.9
On Her Majesty's Secret Service  Peter R. Hunt       291.5    37.3
Diamonds Are Forever              Guy Hamilton       442.5    34.7
Live and Let Die                  Guy Hamilton       460.3    30.8

In [66]:
bond.loc[:'Live and Let Die', :'Budget']

,Year,Actor,Director,Box Office,Budget
Film,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8

#### iloc

In [71]:
bond.iloc[0, 2:5]

Director      Terence Young
Box Office            448.8
Budget                  7.0
Name: Dr. No, dtype: object

In [69]:
bond.iloc[[10, 12], 2:5]

                           Director  Box Office  Budget
Film
The Spy Who Loved Me  Lewis Gilbert       533.0    45.1
For Your Eyes Only        John Glen       449.4    60.2

In [72]:
bond.iloc[[10, 12], [2,4]]

                           Director  Budget
Film
The Spy Who Loved Me  Lewis Gilbert    45.1
For Your Eyes Only        John Glen    60.2

In [73]:
bond.iloc[12:, [2,4]]

                                   Director  Budget
Film
For Your Eyes Only                John Glen    60.2
Never Say Never Again        Irvin Kershner    86.0
Octopussy                         John Glen    53.9
A View to a Kill                  John Glen    54.5
The Living Daylights              John Glen    68.8
Licence to Kill                   John Glen    56.7
GoldenEye                   Martin Campbell    76.9
Tomorrow Never Dies      Roger Spottiswoode   133.9
The World Is Not Enough       Michael Apted   158.3
Die Another Day                Lee Tamahori   154.2
Casino Royale               Martin Campbell   145.3
Quantum of Solace              Marc Forster   181.4
Skyfall                          Sam Mendes   170.2
Spectre                          Sam Mendes   206.3

#### Set New Value for a Specific Cell or Cells In a Row

In [81]:
bond.loc['Dr. No', 'Box Office'] = 550.0

bond.loc['Dr. No', 'Box Office']

550.0

In [83]:
# update multiple values
bond.loc['Dr. No', ['Box Office', 'Director']] = [7790, 'Alen']

bond.loc['Dr. No']

Year                         1962
Actor                Sean Connery
Director                     Alen
Box Office                 7790.0
Budget                        7.0
Bond Actor Salary             0.6
Name: Dr. No, dtype: object

####  Set Multiple Values in a DataFrame

In [86]:
cond =  bond['Actor'] == "Sean Connery"

In [87]:
bond.loc[cond]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [88]:
bond.loc[cond, 'Actor'] = "Sir Sean Connery"

In [90]:
bond.loc[cond, 'Actor']
bond.loc[cond]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN

#### Rename Index Labels or Columns in a DataFrame

In [92]:
# changing by default row wise
bond.rename(mapper={'Thunderball': 'Thunder ball', 'Diamonds Are Forever': 'Diamonds Are Forever Again'})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunder ball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever Again,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [93]:
bond.rename(mapper={'Thunderball': 'Thunder ball', 'Diamonds Are Forever': 'Diamonds Are Forever Again'}, axis=0)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunder ball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever Again,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [96]:
#use inplace to update
bond.rename(mapper={'Thunderball': 'Thunder ball', 'Diamonds Are Forever': 'Diamonds Are Forever Again'}, axis='rows')
#same as above
bond.rename(mapper={'Thunderball': 'Thunder ball', 'Diamonds Are Forever': 'Diamonds Are Forever Again'}, axis='index')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunder ball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever Again,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

#### Change columns

In [100]:
# 

bond.rename(mapper={'Year': 'Released Date', 'Box Office': 'Revenue'}, axis='columns')

,Released Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [101]:
bond.rename(mapper={'Year': 'Released Date', 'Box Office': 'Revenue'}, axis=1)

,Released Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [103]:
# using columns

bond.rename(columns={'Year': 'Released Date', 'Box Office': 'Revenue'})

,Released Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

#### drop method

In [106]:
bond.drop('Dr. No')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [107]:
bond.drop(['Dr. No', 'From Russia with Love'])
# bond.drop(['Dr. No', 'From Russia with Love'], inplace=True)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [113]:
## Drop a column

bond.drop('Box Office', axis=1)
bond.drop(['Box Office', 'Bond Actor Salary'], axis=1)
bond.drop(['Box Office', 'Bond Actor Salary'], axis='columns')

,Year,Actor,Director,Budget
Film,,,,
Dr. No,1962,Sir Sean Connery,Alen,7.0
From Russia with Love,1963,Sir Sean Connery,Terence Young,12.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,18.6
Thunderball,1965,Sir Sean Connery,Terence Young,41.9
Casino Royale,1967,David Niven,Ken Hughes,85.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,59.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,34.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5
For Your Eyes Only,1981,Roger Moore,John Glen,60.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,86.0
Octopussy,1983,Roger Moore,John Glen,53.9
A View to a Kill,1985,Roger Moore,John Glen,54.5
The Living Daylights,1987,Timothy Dalton,John Glen,68.8
Licence to Kill,1989,Timothy Dalton,John Glen,56.7
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4
Skyfall,2012,Daniel Craig,Sam Mendes,170.2
Spectre,2015,Daniel Craig,Sam Mendes,206.3

#### pop method

In [117]:
#no need to pass inplace=True

actor = bond.pop('Actor')

KeyError: "None of [Index(['Actor'], dtype='object')] are in the [columns]"

In [115]:
bond

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Alen,7790.0,7.0,0.6
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Terence Young,848.1,41.9,4.7
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
A View to a Kill,1985,John Glen,275.2,54.5,9.1
The Living Daylights,1987,John Glen,313.5,68.8,5.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,NaN

In [116]:
actor

Film
Dr. No                             Sir Sean Connery
From Russia with Love              Sir Sean Connery
Goldfinger                         Sir Sean Connery
Thunderball                        Sir Sean Connery
Casino Royale                           David Niven
You Only Live Twice                Sir Sean Connery
On Her Majesty's Secret Service      George Lazenby
Diamonds Are Forever               Sir Sean Connery
Live and Let Die                        Roger Moore
The Man with the Golden Gun             Roger Moore
The Spy Who Loved Me                    Roger Moore
Moonraker                               Roger Moore
For Your Eyes Only                      Roger Moore
Never Say Never Again              Sir Sean Connery
Octopussy                               Roger Moore
A View to a Kill                        Roger Moore
The Living Daylights                 Timothy Dalton
Licence to Kill                      Timothy Dalton
GoldenEye                            Pierce Brosnan
Tomorrow Never Dies                  Pierce Brosnan
The World Is Not Enough              Pierce Brosnan
Die Another Day                      Pierce Brosnan
Casino Royale                          Daniel Craig
Quantum of Solace                      Daniel Craig
Skyfall                                Daniel Craig
Spectre                                Daniel Craig
Name: Actor, dtype: object

#### del keyword for deleting

In [120]:
del bond['Director']

bond.head(1)

KeyError: 'Director'

#### sample method

In [121]:
# it will provide a single random row

bond.sample()

                      Year  Box Office  Budget  Bond Actor Salary
Film
The Spy Who Loved Me  1977       533.0    45.1                NaN

In [122]:
bond.sample(n=5)

                      Year  Box Office  Budget  Bond Actor Salary
Film
Live and Let Die      1973       460.3    30.8                NaN
Spectre               2015       726.7   206.3                NaN
Skyfall               2012       943.5   170.2               14.5
Diamonds Are Forever  1971       442.5    34.7                5.8
A View to a Kill      1985       275.2    54.5                9.1

In [123]:
# it will return 25% of dataframe

bond.sample(frac=0.25)

                       Year  Box Office  Budget  Bond Actor Salary
Film
Spectre                2015       726.7   206.3                NaN
Dr. No                 1962      7790.0     7.0                0.6
Live and Let Die       1973       460.3    30.8                NaN
Moonraker              1979       535.0    91.5                NaN
The Living Daylights   1987       313.5    68.8                5.2
Never Say Never Again  1983       380.0    86.0                NaN

In [127]:
# columns wise

bond.sample(n=3, axis=1)
bond.sample(n=3, axis='columns')

                                 Budget  Year  Box Office
Film
Dr. No                              7.0  1962      7790.0
From Russia with Love              12.6  1963       543.8
Goldfinger                         18.6  1964       820.4
Thunderball                        41.9  1965       848.1
Casino Royale                      85.0  1967       315.0
You Only Live Twice                59.9  1967       514.2
On Her Majesty's Secret Service    37.3  1969       291.5
Diamonds Are Forever               34.7  1971       442.5
Live and Let Die                   30.8  1973       460.3
The Man with the Golden Gun        27.7  1974       334.0
The Spy Who Loved Me               45.1  1977       533.0
Moonraker                          91.5  1979       535.0
For Your Eyes Only                 60.2  1981       449.4
Never Say Never Again              86.0  1983       380.0
Octopussy                          53.9  1983       373.8
A View to a Kill                   54.5  1985       275.2
The Living Daylights               68.8  1987       313.5
Licence to Kill                    56.7  1989       250.9
GoldenEye                          76.9  1995       518.5
Tomorrow Never Dies               133.9  1997       463.2
The World Is Not Enough           158.3  1999       439.5
Die Another Day                   154.2  2002       465.4
Casino Royale                     145.3  2006       581.5
Quantum of Solace                 181.4  2008       514.2
Skyfall                           170.2  2012       943.5
Spectre                           206.3  2015       726.7

#### nsmallest / nlargest methods

In [128]:
bond.nlargest(3, columns='Box Office')

             Year  Box Office  Budget  Bond Actor Salary
Film
Dr. No       1962      7790.0     7.0                0.6
Skyfall      2012       943.5   170.2               14.5
Thunderball  1965       848.1    41.9                4.7

In [130]:
bond.nsmallest(2, columns='Box Office')

                  Year  Box Office  Budget  Bond Actor Salary
Film
Licence to Kill   1989       250.9    56.7                7.9
A View to a Kill  1985       275.2    54.5                9.1

In [131]:
# on series

bond['Budget'].nlargest(5)

Film
Spectre                    206.3
Quantum of Solace          181.4
Skyfall                    170.2
The World Is Not Enough    158.3
Die Another Day            154.2
Name: Budget, dtype: float64

In [132]:
# on series

bond['Budget'].nsmallest(5)

Film
Dr. No                          7.0
From Russia with Love          12.6
Goldfinger                     18.6
The Man with the Golden Gun    27.7
Live and Let Die               30.8
Name: Budget, dtype: float64